useDynLib(tscR)
export("data","frechetDist",
       "combineCluster","frechetDistC","getClusters",
       "imputeSenators","imputeSenatorToData","plotCluster",
       "plotClusterSenator","slopeDist")
