useDynLib(tscR)
export("frechetDist",
    "combineCluster","frechetDistC","getClusters",
    "imputeSenators","imputeSenatorToData","plotCluster",
    "plotClusterSenator","slopeDist")
exportClasses("imputeSenator")
importFrom("cluster", "pam")
importFrom("cluster", "clara")
import("RColorBrewer")
import("class")
import("kmlShape")
import("methods")
import("tidyverse")
importFrom("grDevices", "colorRamp", "rgb")
importFrom("graphics", "matplot", "par")
importFrom("methods", "new")
importFrom("stats", "dist")
importFrom("grDevices","colorRamp")
importFrom("grDevices","rgb")
import("TSdist")
import("ggplot2")
import("grid")
importFrom("gridExtra", "grid.arrange")
import("knitr")
import("latex2exp")
import("prettydoc")
import("rmarkdown")
import("dplyr")
